.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: relative;
}

.cell.slash::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.cell.slash::before {
  transform: rotate(-45deg);
}

.cell.x::before,
.cell.x::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.cell.x::before {
  transform: rotate(-45deg);
}

.cell.x::after {
  transform: rotate(45deg);
}

.circle {
  border: 2px solid #333;
  border-radius: 50%;
}

.cell.closedAll::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #333;
  box-sizing: border-box;
}
