.uniformButton {
  width: 100px;
}

.playerCardMinWidth {
  min-width: 200px;
}

.red-dot {
  position: relative;
}

.red-dot::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
