@media (min-width: 1000px) {
  .card-content {
    min-width: 900px;
  }
}

@media (max-width: 1000px) {
  .card-content {
    min-width: 90vw;
  }
}

@media (max-width: 768px) {
  .field-submit {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #button-submit {
    margin-bottom: 1rem;
  }
}

@media (min-width: 769px) {
  .field-submit {
    margin-left: 1rem;
    margin-right: auto;
    text-align: right;
  }
}
